<!-- collection of articles hrefs for routing -->
<article id="article">
            
    <div id="content-wrapper">

        <div id="content">

            <a href="/components/articles/article-test-1/article-test-1.html" class="content-preview">
                Testing the prototype
            </a>

            <a href="/components/articles/article-test-2/article-test-2.html" class="content-preview">
                Writing my own routing in Javascript.
            </a>

            <a href="/components/articles/article-test-3/article-test-3.html" class="content-preview">
                So many questions.
            </a>
            
        </div>

    </div>
    
</article>
